<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<p th:text="'Name, ' + ${notafiscal.name}" />
	<p th:text="'Addres, ' + ${notafiscal.address}" />
	<p th:text="'Number, ' + ${notafiscal.number}" />
	<p th:text="'Service_description, ' + ${notafiscal.service_description}" />
	<p th:text="'Quantity, ' + ${notafiscal.quantity}" />
	<p th:text="'Unit_value, ' + ${notafiscal.unit_value}" />
	<p th:text="'Recurso, ' + ${notafiscal.recurso}" />
	<p th:text="'Funcao, ' + ${notafiscal.funcao}" />
	<p th:text="'Tax_percent, ' + ${notafiscal.tax_percent}" />
	<p th:text="'Discount_percent, ' + ${notafiscal.discount_percent}" />
	<p th:text="'Subtotal, ' + ${notafiscal.subtotal}" />
	<p th:text="'Value, ' + ${notafiscal.value}" />

</body>
</html>